.jumbotron {
  background-color: #e0f3ff;
}
.card {
  display: flex;
  padding: 30px;
  margin-top: 25px;
  border: none;
}

.dayOfWeek {
  color: #417699;
  font-weight: bold;

}
.picture {
  padding: 3.5px;
}
.weatherCard {
  margin: 10px;
}
